<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

  <body>
    <!-- Nav Bar -->
    <nav>
      <h1 id="home"> Decision Maker </h1>
    </nav>
    <div class="error-message">
      <h2 class="error-header">ERROR MESSAGE THIS IS A ERROR MESSAGE YOU MADE A ERROR LOL</h2>
    </div>
    <!-- <form class="form-container" method="POST" action="/users/poll"> -->
      <form class="form-container" id="form-create-poll">
      <div class="form-group">
        <label for="email-input">Email address</label>
        <input name="email" type="email" class="form-control" id="email-input" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="question-input">Ask your question?</label>
        <input name="question" type="text" class="form-control" id="question-input" placeholder="Write question here.">
        </select>
      </div>
      <div class="form-group">
        <label for="option-input">Choose your options!</label>
        <div id="options">
          <input name="option1" type="text" class="form-control" id="option-input" placeholder="Option 1">
          <input name="option2" type="text" class="form-control" id="option-input" placeholder="Option 2">
        </div>

        <button id = "button" type="button" class="btn btn-primary">Add more options!</button>
        </select>
      </div>
      <div class="form-group">
        <label for="email-input-external">Enter the Email of the person you would like to send this poll too!</label>
        <input name="receivers" type="text" class="form-control" id="email-input-external" placeholder="If you would like to send to multiple users, please seperate with ','!">
      </div>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
  </body>

</html>
