
body {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
h1 {
  font-family: 'Bungee', cursive;
  text-align: center;
  color: peachpuff;
  font-size: xx-large;
}


.form-container{
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Bungee', cursive;
}

.form-control:focus, .form-control:active {
  background: transparent;
  outline: none;
}


.form-group{
  color: white;
}

.form-control{
  margin-bottom: 3%;
  font-family: 'Courier New', Courier, monospace;
}
